<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
      
    </startup>

  <connectionStrings>
    <add name="MyconnectionString" connectionString="Data Source= G1-5CD6133SK9-L\SQLEXPRESS;Initial Catalog=Incedo;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>